<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="SberSettings"
             type="FunnyMoney.SBER.Config.SberSettings, FunnyMoney.SBER"
             allowLocation="true" allowDefinition="Everywhere" />
  </configSections>

  <SberSettings>
    <SmsPropertyMaps>
      <Map Name="CardNumber" Token="CN"/>
      <Map Name="OperationTime" Token="DT"/>
      <Map Name="Value" Token="V"/>
      <Map Name="Commission" Token="C"/>
      <Map Name="Category" Token="CT"/>
      <Map Name="Target" Token="T"/>
      <Map Name="Balance" Token="B"/>
    </SmsPropertyMaps>
    <SmsTemplates>
      <Template Id="1" Type="Info" Regex=". Сбербанк$"/>
      <Template Id="2" Type="Info" Regex="Сбербанк Онлайн"/>
    </SmsTemplates>
  </SberSettings>

</configuration>