<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="SberSettings"
             type="FunnyMoney.SBER.Config.SberSettings, FunnyMoney.SBER"
             allowLocation="true" allowDefinition="Everywhere" />
  </configSections>

  <SberSettings>
    <SmsPropertyMaps>
      <Map Name="CardNumber" Token="CN"/>
      <Map Name="OperationTime" Token="DT"/>
      <Map Name="Value" Token="V"/>
      <Map Name="Commission" Token="C"/>
      <Map Name="Category" Token="CT"/>
      <Map Name="Target" Token="T"/>
      <Map Name="Balance" Token="B"/>
    </SmsPropertyMaps>
    <SmsTemplates>
      <Template Id="1" Type="WRITE-OFF"
                Regex="(?&lt;CN&gt;VISA\d{4}) (?&lt;DT&gt;\d{2}\.\d{2}\.\d{2} \d{2}:\d{2}) списание (?&lt;V&gt;\d+(\.\d{2})?р)( с комиссией (?&lt;C&gt;\d+(\.\d{2})?р))?(\s+(?&lt;T&gt;.*))? Баланс: (?&lt;B&gt;\d+(\.\d{2})?р)"/>
      <Template Id="100" Type="BUY"
                Regex="(?&lt;CN&gt;VISA\d{4}) (?&lt;DT&gt;\d{2}\.\d{2}\.\d{2} \d{2}:\d{2}) покупка (?&lt;V&gt;\d+(\.\d{2})?р)( с комиссией (?&lt;C&gt;\d+(\.\d{2})?р))?(\s+(?&lt;T&gt;.*))? Баланс: (?&lt;B&gt;\d+(\.\d{2})?р)"/>
      <Template Id="200" Type="ATM"
                Regex="(?&lt;CN&gt;VISA\d{4}) (?&lt;DT&gt;\d{2}\.\d{2}\.\d{2} \d{2}:\d{2}) выдача (наличных )?(?&lt;V&gt;\d+(\.\d{2})?р)( с комиссией (?&lt;C&gt;\d+(\.\d{2})?р))?(\s+(?&lt;T&gt;.*))? Баланс: (?&lt;B&gt;\d+(\.\d{2})?р)"/>
      <Template Id="300" Type="SALARY"
                Regex="(?&lt;CN&gt;VISA\d{4}) (?&lt;DT&gt;\d{2}\.\d{2}\.\d{2} \d{2}:\d{2}) зачисление (?&lt;CT&gt;(зарплаты)|(отпускных)) (?&lt;V&gt;\d+(\.\d{2})?р)( с комиссией (?&lt;C&gt;\d+(\.\d{2})?р))?(\s+(?&lt;T&gt;.*))? Баланс: (?&lt;B&gt;\d+(\.\d{2})?р)"/>
      <Template Id="350" Type="PAY_IN"
                Regex="(?&lt;CN&gt;VISA\d{4}) (?&lt;DT&gt;\d{2}\.\d{2}\.\d{2} \d{2}:\d{2}) зачисление (?&lt;V&gt;\d+(\.\d{2})?р)( с комиссией (?&lt;C&gt;\d+(\.\d{2})?р))?(\s+(?&lt;T&gt;.*))? Баланс: (?&lt;B&gt;\d+(\.\d{2})?р)"/>
      <Template Id="400" Type="PAY_OUT"
                Regex="(?&lt;CN&gt;VISA\d{4}) (?&lt;DT&gt;\d{2}\.\d{2}\.\d{2}) оплата?(\s+(?&lt;T&gt;.*)\s+)?(?&lt;V&gt;\d+(\.\d{2})?р) Баланс: (?&lt;B&gt;\d+(\.\d{2})?р)"/>
      <Template Id="450" Type="PAY_OUT"
                Regex="(?&lt;CN&gt;VISA\d{4}) (?&lt;DT&gt;\d{2}\.\d{2}\.\d{2} \d{2}:\d{2}) оплата (?&lt;V&gt;\d+(\.\d{2})?р)( с комиссией (?&lt;C&gt;\d+(\.\d{2})?р))?(\s+(?&lt;T&gt;.*))? Баланс: (?&lt;B&gt;\d+(\.\d{2})?р)"/>
      <Template Id="500" Type="BUY_CANCEL"
                Regex="(?&lt;CN&gt;VISA\d{4}) (?&lt;DT&gt;\d{2}\.\d{2}\.\d{2} \d{2}:\d{2}) отмена покупки (?&lt;V&gt;\d+(\.\d{2})?р)( с комиссией (?&lt;C&gt;\d+(\.\d{2})?р))?(\s+(?&lt;T&gt;.*))? Баланс: (?&lt;B&gt;\d+(\.\d{2})?р)"/>
      <Template Id="900" Type="WARN"
                Regex=" Баланс: (?&lt;B&gt;\d+(\.\d{2})?р)"/>
      <Template Id="1000" Type="INFO"
                Regex=". Сбербанк$"/>
      <Template Id="1001" Type="INFO"
                Regex="Сбербанк Онлайн"/>
      <Template Id="1002" Type="INFO"
                Regex="Ваш Сбербанк"/>
      <Template Id="1003" Type="INFO"
                Regex="^Уважаемый клиент"/>
    </SmsTemplates>
  </SberSettings>

</configuration>